* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v3_3 {
  width: 100%;
  height: 1609px;
  background: rgba(255,255,255,1);
  padding: 27px 0px;
  margin: 24px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v4_32 {
  width: 100%;
  height: 702px;
  background: url("../images/v4_32.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 907px;
  left: 0px;
  overflow: hidden;
}
.v4_28 {
  width: 100%;
  height: 702px;
  background: rgba(119,207,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v5_99 {
  width: 374px;
  height: 393px;
  background: rgba(255,255,255,1);
  padding: 34px 34px;
  margin: 22px;
  opacity: 1;
  position: absolute;
  top: 218px;
  left: 1003px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.v5_107 {
  width: 84px;
  height: 84px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 34px;
  left: 145px;
}
.v5_105 {
  width: 241px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 140px;
  left: 66px;
  font-family: Plus Jakarta Sans;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v5_106 {
  width: 54px;
  background: url("../images/v5_106.png");
  opacity: 1;
  position: absolute;
  top: 230px;
  left: 159px;
  border: 3px solid rgba(0,0,0,1);
}
.v5_104 {
  width: 315px;
  color: rgba(112,112,112,1);
  position: absolute;
  top: 252px;
  left: 29px;
  font-family: Plus Jakarta Sans;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v5_90 {
  width: 374px;
  height: 393px;
  background: rgba(255,255,255,1);
  padding: 34px 34px;
  margin: 22px;
  opacity: 1;
  position: absolute;
  top: 218px;
  left: 533px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.v5_98 {
  width: 81px;
  height: 81px;
  background: url("../images/v5_98.png");
  opacity: 1;
  position: absolute;
  top: 34px;
  left: 147px;
  border: 6px solid rgba(0,0,0,1);
}
.v5_96 {
  width: 241px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 137px;
  left: 67px;
  font-family: Plus Jakarta Sans;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v5_97 {
  width: 54px;
  background: url("../images/v5_97.png");
  opacity: 1;
  position: absolute;
  top: 227px;
  left: 160px;
  border: 3px solid rgba(0,0,0,1);
}
.v5_95 {
  width: 315px;
  color: rgba(112,112,112,1);
  position: absolute;
  top: 249px;
  left: 30px;
  font-family: Plus Jakarta Sans;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v5_89 {
  width: 374px;
  height: 393px;
  background: rgba(255,255,255,1);
  padding: 34px 34px;
  margin: 22px;
  opacity: 1;
  position: absolute;
  top: 218px;
  left: 63px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.v4_62 {
  width: 95px;
  height: 86px;
  background: url("../images/v4_62.png");
  opacity: 1;
  position: absolute;
  top: 34px;
  left: 140px;
  border: 5.300000190734863px solid rgba(0,0,0,1);
}
.v4_33 {
  width: 241px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 142px;
  left: 67px;
  font-family: Plus Jakarta Sans;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v4_38 {
  width: 54px;
  background: url("../images/v4_38.png");
  opacity: 1;
  position: absolute;
  top: 232px;
  left: 160px;
  border: 3px solid rgba(0,0,0,1);
}
.v4_37 {
  width: 315px;
  color: rgba(112,112,112,1);
  position: absolute;
  top: 254px;
  left: 30px;
  font-family: Plus Jakarta Sans;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v4_31 {
  width: 439px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 66px;
  left: 500px;
  font-family: Plus Jakarta Sans;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v4_30 {
  width: 100%;
  height: 170px;
  background: url("../images/v4_30.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 647px;
  left: 182px;
  overflow: hidden;
}
.v4_26 {
  width: 100%;
  height: 82px;
  background: url("../images/v4_26.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 56px;
  opacity: 1;
  position: absolute;
  top: 88px;
  left: 0px;
  overflow: hidden;
}
.v4_25 {
  width: 121px;
  height: 59px;
  background: url("../images/v4_25.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 0px;
  overflow: hidden;
}
.v4_18 {
  width: 156px;
  height: 82px;
  background: url("../images/v4_18.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 177px;
  overflow: hidden;
}
.v4_20 {
  width: 128px;
  height: 68px;
  background: url("../images/v4_20.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 389px;
  overflow: hidden;
}
.v4_22 {
  width: 123px;
  height: 64px;
  background: url("../images/v4_22.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 573px;
  overflow: hidden;
}
.v4_24 {
  width: 116px;
  height: 62px;
  background: url("../images/v4_24.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 752px;
  overflow: hidden;
}
.v4_36 {
  width: 152px;
  height: 80px;
  background: url("../images/v4_36.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 924px;
  overflow: hidden;
}
.v4_6 {
  width: 595px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 240px;
  font-family: Plus Jakarta Sans;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v4_27 {
  width: 100%;
  height: 570px;
  background: url("../images/v4_27.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3_26 {
  width: 100%;
  height: 570px;
  background: rgba(119,207,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v4_14 {
  width: 217px;
  height: 20px;
  background: url("../images/v4_14.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 465px;
  left: 612px;
  overflow: hidden;
}
.v4_12 {
  width: 16px;
  height: 16px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 0px;
  overflow: hidden;
}
.v4_13 {
  width: 13px;
  height: 13px;
  background: url("../images/v4_13.png");
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 2px;
  border: 1.7000000476837158px solid rgba(0,0,0,1);
}
.v4_7 {
  width: 197px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 20px;
  font-family: Plus Jakarta Sans;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v4_4 {
  width: 228px;
  height: 52px;
  background: rgba(193,33,153,1);
  padding: 15px 32px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 394px;
  left: 606px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v4_5 {
  width: 164px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 15px;
  left: 32px;
  font-family: Plus Jakarta Sans;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3_28 {
  width: 619px;
  color: rgba(53,52,52,1);
  position: absolute;
  top: 296px;
  left: 411px;
  font-family: Plus Jakarta Sans;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v3_27 {
  width: 754px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 147px;
  left: 343px;
  font-family: Plus Jakarta Sans;
  font-weight: Bold;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v3_15 {
  width: 100%;
  height: 48px;
  background: url("../images/v3_15.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 90px;
  overflow: hidden;
}
.v3_7 {
  width: 165px;
  color: rgba(193,33,153,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Plus Jakarta Sans;
  font-weight: Bold;
  font-size: 34px;
  opacity: 1;
  text-align: left;
}
.v3_13 {
  width: 590px;
  height: 22px;
  background: url("../images/v3_13.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 35px;
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 244px;
  overflow: hidden;
}
.v3_10 {
  width: 148px;
  color: rgba(193,33,153,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Plus Jakarta Sans;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3_8 {
  width: 117px;
  color: rgba(193,33,153,1);
  position: absolute;
  top: 0px;
  left: 183px;
  font-family: Plus Jakarta Sans;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3_9 {
  width: 153px;
  color: rgba(193,33,153,1);
  position: absolute;
  top: 0px;
  left: 335px;
  font-family: Plus Jakarta Sans;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3_11 {
  width: 67px;
  color: rgba(193,33,153,1);
  position: absolute;
  top: 0px;
  left: 523px;
  font-family: Plus Jakarta Sans;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3_25 {
  width: 173px;
  height: 36px;
  background: url("../images/v3_25.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 757px;
  overflow: hidden;
}
.v3_16 {
  width: 130px;
  color: rgba(193,33,153,1);
  position: absolute;
  top: 0px;
  left: 43px;
  font-family: Plus Jakarta Sans;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v3_23 {
  width: 33px;
  height: 33px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 0px;
  overflow: hidden;
}
.v3_24 {
  width: 24px;
  height: 24px;
  background: rgba(193,33,153,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 5px;
}
